services:
  web:
    build: .
    container_name: book-tracker
    ports:
      - "5883:5000"
    volumes:
      - .${HOME}/volumes/book-tracker:/app/data
    environment:
      - DEBUG=false
    restart: unless-stopped
    networks:
      - caddy-network

networks:
    caddy-network:
      name: caddy-network
